#content_container
  .form-container
    - if alert
      .alert
        - alert.each do |message|
          %li= message

    = form_for @user, url: sessions_path do |f|
      - if @user.errors.any?
        .errors
          - @user.errors.full_messages.each do |error|
            %p= error

      .field-container
        = f.label :email
        = f.text_field :email

      .field-container
        = f.label :password
        = f.password_field :password

      .form-actions
        = f.submit "Login"