#content_container
  .form-container
    = notice

    = form_for @user, :url => {:action => 'signin'} do |f|
      - if @user.errors.any?
        - @user.errors.full_messages.each do |error|
          %p= error

      .field-container
        = f.label :email
        = f.text_field :email

      .field-container
        = f.label :password
        = f.password_field :password

      .form-actions
        = f.submit "Login"