%div{:id => 'content_container'}
  .form-container
    = form_tag('/portuguese/translate', :method => 'post') do
      .field-container
        = text_field_tag(:english, @english_word)
        = submit_tag('translate to portuguese')

    -if @matched_data
      .results-container
        - @matched_data.each do |words|
          .result-output
            %li
              -if words.is_a?(Hash)
                %hr
                = words.keys[0].to_s
                - if logged_in?
                  = form_for @word, remote: true, url: { action: 'create'},
                    data: { behavior: 'save-word' } do |f|
                    = f.hidden_field :english, { value: params[:english] }
                    = f.hidden_field :portuguese, { value: words.keys[0].to_s }
                    = f.submit 'save', class: 'save-button', data: { id: words.keys[0].to_s.gsub(/\s/, '_') }
                  .save-confirmation{ data: { container: words.keys[0].to_s.gsub(/\s/, '_') } }
                    got it!
                - @results = true
                %br
                %br
                - count = 0
                - words.values[0].each do |example|
                  - break if count > 2
                  %li= example[:portuguese]
                  %br
                  %li= example[:english]
                  %br
                  %br
                  - count += 1
              - else
                %hr
                = words
                - if logged_in?
                  = form_for @word, remote: true, url: { action: 'create'},
                    data: { behavior: 'save-word' } do |f|
                    = f.hidden_field :english, { value: params[:english] }
                    = f.hidden_field :portuguese, { value: words }
                    = f.submit 'save', class: 'save-button', data: { id: words }
                  .save-confirmation{ data: { container: words } }
                    got it!

    - unless @results
      .results-container
        .result-output
          %li
            Sorry, no results.

%div{:class => 'resetColumnSet'}