<!DOCTYPE html>
<html>
<head>
  <title>LanguageApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div id="header_container">
    <div id="header_logo">
      <%= link_to root_path do %>
        <%= image_tag 'langua.png', {:height => 100, :width => 300, :alt => 'Logo'} %>
      <% end %>
    </div><!--end header_logo-->
  </div><!--end header-->
</header>

<%= yield %>

</body>
</html>
