<!DOCTYPE html>
<html>
<head>
  <title>Langua</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div id="header_container">
    <div id="header_logo">
      <%= link_to root_path do %>
        <%= image_tag 'langua.png', {:alt => 'Langua'} %>
      <% end %>
    </div><!--end header_logo-->
    <% unless current_page?(root_path) %>
      <div id="waterdog_container">
        <div class="waterdog">
          <%= image_tag 'waterdog-small.png' %>
        </div>
      </div>
    <% end %>
  </div><!--end header-->
  <nav>
    <div id="nav_container">
      <ul id="navigation_links">
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/portuguese">portuguese</a></li>
      </ul>
      <ul id="authentication_links">
        <li><%= link_to "register", register_path %></li>
        <li><%= link_to "login", login_path %></li>
        <li><%= link_to "logout", logout_path %></li>
      </ul>
    </div>
  </nav>
</header>

<div id="body_container">
  <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>

  <footer>
    <div id="footer_container">
    </div>
  </footer>

</div>

</body>
</html>
