<!DOCTYPE html>
<html>
<head>
  <title>Langua</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div id="header_container">
    <div id="header_logo">
      <%= link_to root_path do %>
        <%= image_tag 'langua.png', {:alt => 'Langua'} %>
      <% end %>
    </div><!--end header_logo-->
  </div><!--end header-->
  <nav>
    <div id="nav_container">
      <ul>
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/about">about</a>
        </li>
        <li>
          <a href="/portuguese">portuguese</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div id="body_container">
  <main>
    <div class="container">
      <nav class="secondary_nav">
        <ul>
          <li>
            <a href="/login">login</a>
          </li>
          <li>
            <a href="/register">register</a>
          </li>
        </ul>
      </nav>
      <section>
        <%= yield %>
      </section>
    </div>
  </main>

<footer>
Test
</footer>
</div>

</body>
</html>
